/*Main CSS file for designing the Page*/
.title
{
 margin-left:50px;
 margin-right:50px;
}

.title h1
{
	font-family: 'Rock Salt', cursive;
	font-size: 50px;
	color: white;
	padding-left: 14px;
	padding-top: 50px;
	background:#0099cc;
	background-image: url('http://api.ning.com/files/CAWrSXpw-Do1Qaca6BBKz8mNG0n197XU54XdkKkmfO9Zo16ki-IIjyZzdYKRN1ah5Qi4oIHB0MyydwNNsbsaUU87VRRgh6v7/1075377809.jpeg');
}

.container h3
{
	 font-family: 'Bree Serif', serif;
}

.container p, li
{
 #background:blue;
 font-family: 'Bree Serif', serif;
 color: grey;
}

.footer
{
	font-family: 'Bree Serif', serif;
	font-style: italic;
	font-size: 14px;
}

span.red
{
	color: red;
}

span.green
{
	color: green;
}

span.orange
{
	color: orange;
}